* {
	margin: 0;
	padding: 0;
}

/* regla para usar una font descargada a la pc */
@font-face {
	font-family: 'AnotherDay';
	src: url('../assets/font/AnotherDay.ttf');
}

@font-face {
	font-family: 'Amstagram';
	src: url('../assets/font/Amstagram.ttf');
}

 body {
	font-family: 'Josefin Sans';
	background-color: bisque;
	overflow-x: hidden;
}  
 
h2 {
	font-family: 'Josefin Sans';
}

a {
	color: black;
	font-weight: 600;
	text-decoration: none;
	font-size: 1.2rem;
	line-height: 2rem;
}

.cabecera {
	background-color: cornsilk;
	height: 120px;
	position: sticky;
	top: 0px;
}

.cabecera img {
	padding: 0px;
}

nav {
	position: relative;
	bottom: 70px;
	left: 200px;
}

.menu
.submenu {
	font-size: 0;
	/* truco por el uso de inline-block*/
	list-style: none;
}

.menu li {
	display: inline-block;
	width: 30%;
	position: relative;
	font-size: 1rem;
}

.submenu {
	position: absolute;
	/* display: none; */
}

.submenu li {
	display: block;
	width: 200px;

}

/* parallax */

.parallax {
	/* Imagen elegida */
	background-image: url("../assets/img/copa_greenfutbol.jpg");

	/* Definir un alto específico */
	height: 700px;

	/* Crear el efecto parallax al scrollear */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* box modeling */
	padding: 50px 30px;
	margin-bottom: 50px;
}

.parallax h4,
.parallax p {
	font-size: larger;
	padding: 10px 40px;
	background-color: rgba(255, 255, 255, 0.7);
}

.parallax h4 {
	text-align: center;
	text-transform: capitalize;
	padding-top: 20px;
}

.parallax p {
	text-align: justify;
}

article img {
	max-width: 700px;
	border: dashed brown 3px;
}