<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilo.css" />
    <style>
      header nav {
        color: rgb(10, 0, 0);
      }

      header nav ul li a {
        color: rgb(66, 62, 54);
      }
    </style>
  </head>
  <body>
    <!-- inicio encabezado -->
    <header class="cabecera">
      <!-- logo -->
      <img
        id="top"
        src="../assets/img/logo.png"
        alt="logo sitio"
        height="80"
        width="80"
      />
      <!-- fin logo -->
      <!-- inicio nav -->
      <nav>
        <ul class="menu">
          <li><a href="../index.html">Home</a></li>
          <li><a href="servicios.html">Servicios</a></li>
          <li><a href="imagenes.html">Galeria de Imágenes</a></li>
          <li><a href="reglamento.html">Reglamento</a></li>
          <li>contacto</li>
          <li>
            <a href="https://www.google.com" target="_blank">Ir a GOOGLE</a>
          </li>
        </ul>
      </nav>
      <!-- fin nav -->
    </header>
    <!-- fin encabezado -->
    <!-- inicio contenido -->
    <section>
      <article>
        <!-- encabezado form -->
        <h1>Formulario de INSCRIPCIÓN</h1>
        <!-- cierre encabezado form -->
        <!-- inicio form -->
        <form action="#">
          <input type="text" placeholder="Decime tu nombre" /><br />
          <label for="apellido"
            >Apellido:
            <input type="text" name="apellido" /> </label
          ><br />
          <input type="number" placeholder="Edad" /><br />
          <textarea
            name=""
            id=""
            cols="60"
            rows="10"
            placeholder="comentarios"
          ></textarea
          ><br />

          <input type="submit" value="ENVIAR" /><input
            type="reset"
            value="RESETEAME"
          />
        </form>
        <!-- cierre form -->
      </article>
    </section>

    <!-- fin contenido -->
    <!-- inicio footer -->
    <footer></footer>
    <!-- fin footer -->
  </body>
</html>
