<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imágines</title>
    <link rel="stylesheet" href="../css/estilo.css" />
    <style>
      header nav {
        color: rgb(10, 0, 0);
      }

      header nav ul li a {
        color: rgb(66, 62, 54);
      }
    </style>
  </head>
  <body>
    <!-- inicio encabezado -->
    <header class="cabecera">
      <!-- logo -->
      <img
        id="top"
        src="../assets/img/logo.png"
        alt="logo sitio"
        height="80"
        width="80"
      />
      <!-- fin logo -->
      <!-- inicio nav -->
      <nav>
        <ul class="menu">
          <li><a href="../index.html">Home</a></li>
          <li><a href="servicios.html">Servicios</a></li>
          <li>Galeria de Imágenes</li>
          <li><a href="reglamento.html">Reglamento</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li>
            <a href="https://www.google.com" target="_blank">Ir a GOOGLE</a>
          </li>
        </ul>
      </nav>
      <!-- fin nav -->
    </header>
    <!-- fin encabezado -->

    <!-- inicio tabla contenidos -->
    <table>
      <tr>
        <td>
          <img
            src="../assets/img/header5.jpg"
            alt="horizonte atardecer"
            width="100%"
          />
        </td>
      </tr>
      <tr>
        <td><audio src="../assets/audio/audioBeat.mp3" controls></audio></td>
      </tr>
      <tr>
        <td><h2>UBICACIÓN</h2></td>
      </tr>
      <tr>
        <td>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d894.4382927519022!2d-71.53192127850407!3d-41.057628810857636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961a886f9dea0175%3A0x3a42b93d77aef41f!2sLlao%20Llao%20Hotel%20%26%20Resort!5e0!3m2!1ses!2sar!4v1678036476898!5m2!1ses!2sar"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </td>
      </tr>
    </table>
    <!-- fin tabla contenidos -->
    <!-- inicio footer -->
    <footer></footer>
    <!-- fin footer -->
  </body>
</html>
