<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reglamento</title>
    <link rel="stylesheet" href="../css/estilo.css" />
    <link rel="stylesheet" href="../css/reglamento.css" />
    <style>
      header nav {
        color: rgb(10, 0, 0);
      }

      header nav ul li a {
        color: rgb(66, 62, 54);
      }
    </style>
  </head>
  <body>
    <!-- inicio encabezado -->
    <header class="cabecera">
      <!-- logo -->
      <img
        id="top"
        src="../assets/img/logo.png"
        alt="logo sitio"
        height="80"
        width="80"
      />
      <!-- fin logo -->
      <!-- inicio nav -->
      <nav>
        <ul class="menu">
          <li><a href="../index.html">Home</a></li>
          <li><a href="servicios.html">Servicios</a></li>
          <li><a href="imagenes.html">Galeria de Imágenes</a></li>
          <li>Reglamento</li>
          <li><a href="contacto.html">Contacto</a></li>
          <li>
            <a href="https://www.google.com" target="_blank">Ir a GOOGLE</a>
          </li>
        </ul>
      </nav>
      <!-- fin nav -->
    </header>
    <!-- fin encabezado -->
    <!-- inicio contenido -->
    <section>
      <article>
        <!-- encabezado form -->
        <h1>Reglamento del Torneo</h1>
        <!-- cierre encabezado form -->
        <!-- inicio form -->

        <!-- inicio parallax -->
        <section class="parallax">
          <h4>
            Primer campeonato internacional de golf para juagadores de futbol
          </h4>
        </section>
        <!-- fin parallax  -->
      </article>
    </section>
    <section>
      <h2 id="cuerpo" style="color: black">
        Evento declarado de Interes Turístico, Cultural, Deportivo y Social, por
        la Legislatura de Rio Negro COPA GREENFUTBOL
      </h2>
      <h2 id="cuerpo" style="color: black">
        Torneo de golf entre clubes de futbol, por equipos de 4 golfistas
        representando a un club o equipo de futbol
      </h2>

      <h2 id="cuerpo" style="color: black">
        Campo de Golf LLAO LLAO, San Carlos de Bariloche, Rio Negro
      </h2>

      <h2 id="cuerpo" style="color: black">PROGRAMA GENERAL TORNEO</h2>

      <p>FECHA TORNEO: 6 y 7 de marzo de 2023</p>
      <p>MODALIDAD MEDAL PLAY</p>
    </section>

    <div class=".flex-container">
      <div style="background-color: red">Rojo</div>
      <div style="background-color: green">Verde</div>
      <div style="background-color: yellow">Amarillo</div>
    </div>
    <!-- fin contenido -->
    <!-- inicio footer -->
    <footer></footer>
    <!-- fin footer -->
  </body>
</html>
